/.metadata/
/task-manager-app/node_modules/
/.recommenders/
/task-manager-app/.vscode
task-manager-api/task-manager-logs/

task-manager-api/bin/

task-manager-api/build

task-manager-api/.classpath

task-manager-api/.gradle/

task-manager-api/.settings

.metadata

RemoteSystemsTempFiles
