<!-- メインコンテンツ 
  TODO: あとで別のコンポーネントを用意する
-->
<main>
    <div id="main-container">
        <!-- メイン画像 -->
        <img class="top-image" src="./assets/images/parallel-top.jpg" alt="Parallel">
        <!-- メインメッセージ -->
        <h1>着実な成果をあげるタスクの管理を</h1>
        <p>パラレルに進む仕事が見えるようになります。</p>
    </div>
    <div id="usage-container">
        <!-- できることメッセージ -->
        <h2>“いつから”、”なにをすればよいのか”がわかります</h2>
        <!-- Youtube利用動画 -->
    </div>
</main>

<!-- フッター -->
<footer>
    <div id="footer-container">
        <p>Copylight 2019 Parallel</p>
    </div>
</footer>
