/* ----------------------
 * メインコンテナ
 ----------------------*/
/* Base */
#main-container {
    /* 相対配置 */
    position: relative;

    img {
        width: 100%;
        height: 500px;
        /* 指定の高さに入らない場合は切り取り */
        overflow: hidden;
    }
    
    h1 {
        /* 絶対配置 */
        position: absolute;
        color: #fafafa;
        /* 中央寄せ */
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 50px;
    }
    
    p {
        /* 絶対配置 */
        position: absolute;
        color: #fafafa;
        /* 中央寄せ */
        top: 60%;
        left: 50%;
        transform: translate(-60%,-50%);
        font-size: 30px;
    }
}

/* ----------------------
 * 利用方法コンテナ
 ----------------------*/
#usage-container {
    width: 100%;
    background-color: #fafafa;
    padding: 50px 0 0 0;
    margin: 0 auto;
    height: 300px;
}

#usage-container h2 {
    font-size: 30px;
    text-align: center;
}

/* ----------------------
 * フッターコンテナ
 ----------------------*/
#footer-container {
    background-color: #00b686;
    width: 100%;
    height: 50px;
}

#footer-container p {
    text-align: center;
    font-size: 20px;
    padding: 15px;
    margin: 0 auto;
}