<div>
    <h1>サインイン</h1>
    <div *ngIf="violateRistriction()">
    </div>
          <p>
            {{ checkedResult }}
          </p>
    
    <form [formGroup]="signinForm">
        <label>
            メールアドレス <input formControlName="emailControl" type="email" name="email" placeholder="メールアドレス" >
        </label>
        <label>
            パスワード <input formControlName="passwordControl" type="password" name="password" placeholder="パスワード" >
        </label>
        <button (click)="signin()" [disabled]="">サインイン</button>
    </form>
</div>
