@import "../assets/stylesheet/common-variables.scss";

/* ----------------------
 * 共通
 ----------------------*/

/* 枠線反映しない */
input, button {
    border-style: none;
    border-radius: 5px;
}

/* リスト表示しない */
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* リンクの装飾を無効化 */
a {
    text-decoration: none;
    color: $FONT_COLOR_DEFAULT;
}

/* 画面全体 */
html {
    height: 100%;
}

/* 共通フォント */
body {
    height: 100%;
    font-family: NotoSansCJKjp, メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/* タイトル用独自定義フォント */
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

/* ----------------------
 * 共通スタイル変数
 * ----------------------*/

/* 背景色グレー1番 */
$BACKGROUND_COLOR_LIGHTGRAY: #fafafa;

/* 背景色グレー2番 */
$BACKGROUND_COLOR_DARKGRAY: #bdbdbd;

/* 背景色緑1番 */
$BACKGROUND_COLOR_LIGHTGREEN: #6effe8;

/* 背景色緑2番 */
$BACKGROUND_COLOR_GREEN: #1ef5bf;

/* 背景色緑3番 */
$BACKGROUND_COLOR_DARKGREEN: #00b686;

/* 基本フォント色 */
$FONT_COLOR_DEFAULT: #000000;

/* 入力チェックエラー共通 */
.base-error-message-style {
    text-align: center;
    color: red;
}

/* スタイルの変化仕様、ゆっくり */
.base-transition-ease {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0;
}

/* 登録ボタン共通仕様。幅は利用箇所で指定する */
.common-button-submit {
    height: 40px;
    font-size: 18px;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    background-color: #00b686;
}

/* ----------------------
 * ヘッダーナビゲーション
 * ----------------------/
/* ヘッダータイトル行 */
#task-manager-common-header {
    width: 100%;
    height: 70px;
    background-color: #1ef5bf;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid $BACKGROUND_COLOR_DARKGRAY;
    
    // タイトル用フォント
    a {
        font-family: Product Sans;
        font-size: 60px;
        @extend .padding-leftright-10;
    }

}

/* 共通ヘッダー（リンクナビゲーション） */
#task-manager-header-links {
    width: 100%;
    height: 50px;
    background-color: #1ef5bf;
    padding: 0px;
    margin: 0;
    // リスト要素の親に設定することで文字の並びを調整できる
    text-align: right;

    // ヘッダー内リンク
    ul {
        display: inline-block;
        padding: 0;
        margin: 5px;
    }

    li {
        display: inline-block;
        font-size: 20px;
        @extend .padding-leftright-10;
        border: 1px solid $BACKGROUND_COLOR_DARKGRAY;
        border-radius: 3px;
    }

    // ヘッダー内リンク、マウスオンで変化
    li:hover {
        //color: $BACKGROUND_COLOR_GREEN;
        @extend .base-transition-ease;
        background-color: $BACKGROUND_COLOR_DARKGRAY;
    }
}

/* ----------------------
 * 使い回しパーツ
 * ----------------------/

/* マージン */
.mt-50 {
    margin-top: 50px;
}

.mt-20-centered {
    margin: 20px 0 0 0;
}

.mt-50-centered {
    margin: 50px 0 0 0;
}

.mt-20 {
    margin-top: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-20 {
    margin-left: 20px;
}

/* パディング */
.pt-50 {
    padding-top: 50px;
}

.pt-50-centered {
    padding: 50px 0 0 0;
}

.pt-20 {
    padding-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.padding-leftright-10 {
    padding: 0 10px 0 10px;
}

.pl-20 {
    padding-left: 20px;
}