@import "../../app.component.scss";

/* ----------------------
 * 画面全体
 * ----------------------*/
#task-manager-task-container{
    display: flex;
}

/* 登録ボタン共通仕様。幅は利用箇所で指定する */
.common-button-submit {
    height: 40px;
    font-size: 18px;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    background-color: #00b686;
}

/* ----------------------
 * タグコンテナ
 * ----------------------*/
#task-manager-task-label-container{
    width: 250px;
    height: 100vh;
    background-color: #fafafa;
    text-align: center
}

/* タグリスト表示 */
#task-manager-task-label-container ul{
    height: 430px;
    padding: 0;
    overflow: auto;
}

#task-manager-task-label-container ul li {
    // margin: 20px 0 0 0;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

/* タグを選ぶと色が変わる */
#task-manager-task-label-container li:hover{
    background-color: $BACKGROUND_COLOR_DARKGRAY;
}

/* タグ登録フォーム */
#task-manager-task-label-form-container {
    border-top: #bdbdbd;
    width: 100%;
}

/* タグ登録 */
#task-manager-task-label-container input{
    width: 200px;
    height: 40px;
    font-size: 18px;
    letter-spacing: normal;
    text-align: center;
    color: #bdbdbd;
    background-color: #fafafa;
}

#task-manager-task-label-container button{
    @extend .common-button-submit;
    width: 200px;
}

/* エラー表示 */
#task-manager-task-label-error {
    @extend .base-error-message-style;
}

/* ----------------------
 * タスクカードコンテナ
 * ----------------------*/
 /* タスクカードコンテナスペース全体 */
#task-manager-task-card-container-space{
    flex: 1;
    height: 80%;
}

/* タスクカードコンテナ */
#task-manager-task-card-container{
    width: 800px;
    height: 550px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    background-color: #fafafa;
}

/* 表示切り替えswitch, flexboxの親要素にする */
#task-manager-task-switch-box{
    margin: 0 auto;
    padding: 0;
    height: 40px;
    display: flex;
}

.task-manager-task-switch-item{
    margin: 0 auto;
    padding: 0;
    flex: 50%;
    text-align: center;
}

/* ----------------------
 * タスクカード
 * ----------------------*/

/* カード本体 */
#task-manager-task-cards ul{
    margin: 0 50px;
    padding: 0;
}

#task-manager-task-cards li{
    margin-top: 20px;
    height: 50px;
    // background-color: #bdbdbd;
    background-color: #ffffff;
    border-bottom: 1px solid  #bdbdbd;
}

#task-manager-task-cards li > *{
    height: 20px;
    margin: 0;
    display: inline-block;
}

.task-manager-task-cards-title {
    width: 500px;
    font-size: 20px;
    letter-spacing: normal;
    color: #000000;  
}

.task-manager-task-cards-label {
    width: 200px;
    border-radius: 10px;
    background-color: #6effe8;
    font-size: 14px;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
}

.task-manager-task-cards-period {
    width: 220px;
}

/* タスク登録ボタン */
#task-manager-task-submit-button{
    @extend .common-button-submit;
    width: 100%;
}