<div>
  <p>タスク一覧</p>
  {{ tasks }}
  <ul>
    <li *ngFor="let task of tasks">
      {{ task.getTaskTitle }} / {{ task.getTaskLabel }} / {{ task.getTaskNote }}
      {{ task }}
    </li>
  </ul>
  
  <form [formGroup]="taskForm">
    <input formControlName="taskTitle" required type="text" name="taskTitle" placeholder="タスク名を入力..." >
    <input formControlName="taskLabel" type="text" name="taskLabel" placeholder="ラベルを入力...">
    <input formControlName="startDate" type="date" name="startDate" placeholder="開始日を入力...">
    <input formControlName="deadline" type="date" name="deadline" placeholder="終了日を入力...">
    <input formControlName="taskNote" type="text" name="taskNote" placeholder="メモ">

    <p>{{ taskForm.status }}</p>

    <button (click)="registTask(registTaskRequestDto)">追加</button>
    <div *ngIf="violateRistriction()">
      {{ checkedResult }}
    </div>

  </form>
  
  
</div>
