<!-- タグコンテナ -->
<div id="task-manager-task-label-container">
    <ul class="mt-50">
        <li>
            すべて
        </li>
        <!-- <li *ngFor="let labelItem of labels" class="pt-20"> -->
        <li *ngFor="let labelItem of this.commonDeliveryService.userLabels" class="pt-20">
            {{ labelItem.taskLabel }}
        </li>
    </ul>

    <!-- タグ登録フォームコンテナ -->
    <form [formGroup]="taskLabelForm" id="task-manager-task-label-form-container">
        <input formControlName="taskLabelControl" type="text" name="taskLabel" placeholder="タグを入力" >
        <button class="mt-20" (click)="registerLabel()" [disabled]="">タグを追加</button>
        <!-- 入力チェックエラー表示 -->
        <div *ngIf="violateRistriction()" id="task-manager-task-label-error">
            <p>
                {{ labelCheckedResult }}
            </p>
      </div>
    </form>    
</div>
