<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Task Manager</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <label>
        Name:
        <input type="text" formControlName="name" >
      </label>
      <p>
        Value: {{ name.value }}
      </p>
      <p>
        <button (click)="updateName()">Update Name</button>
      </p>
    
      <form [formGroup]="profile" (ngSubmit)="onSubmit(profile)">
      
        <label>
          First Name:
          <input type="text" formControlName="firstName">
        </label>
      
        <label>
          Last Name:
          <input type="text" formControlName="lastName">
        </label>
      
      </form>
    
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    
</body>
</html>