<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

	<property name="root.level" value="debug" />
	<property name="console.level" value="info" />
	<property name="logback.log.dir" value="./task-manager-logs" />
	<property name="logback.hostname" value="localhost" />
	<property name="logback.appname" value="task-manager-api" />

	<!-- consoleへの標準出力 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-14(${logback.hostname}) ${logback.appname} %-5level %X{logCode} %X{className}#%X{methodName} : %X{logMessage} %X{jsonBody} %n</pattern>
		</encoder>
	</appender>

	<!-- トレースログ -->
	<appender name="APP_TRACE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.log.dir}/${logback.hostname}_${logback.appname}_trace.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.log.dir}/${logback.hostname}_${logback.appname}_trace.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-14(${logback.hostname}) ${logback.appname} %-5level %X{logCode} %X{className}#%X{methodName} : %X{logMessage} %n</pattern>
		</encoder>
	</appender>

	<!-- エラーログ -->
	<appender name="APP_ERR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.log.dir}/${logback.hostname}_${logback.appname}_error.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.log.dir}/${logback.hostname}_${logback.appname}_error.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-14(${logback.hostname}) ${logback.appname} %-5level %X{logCode} %X{className}#%X{methodName} : %X{logMessage} 詳細 ... %X{errStackTrace} %n</pattern>
		</encoder>
	</appender>

	<!-- 電文ログ -->
	<appender name="APP_TELEGRAM_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.log.dir}/${logback.hostname}_${logback.appname}_telegram.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.log.dir}/${logback.hostname}_${logback.appname}_telegram.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-14(${logback.hostname}) ${logback.appname} %-5level %X{logCode} %X{className}#%X{methodName} : %X{jsonBody} %n</pattern>
		</encoder>
	</appender>

	<!-- ロガー指定。nameタグに、FQCN指定で出力元ロガー名を指定しておく -->
	<logger name="com.tm.config.logger.AppTraceLogger" level="${console.level}">
		<appender-ref ref="APP_TRACE_LOG" />
	</logger>
	<logger name="com.tm.config.logger.AppErrorLogger" level="ERROR">
		<appender-ref ref="APP_ERR_LOG" />
	</logger>
	<logger name="com.tm.config.logger.AppTelegramLogger" level="${console.level}">
		<appender-ref ref="APP_TELEGRAM_LOG" />
	</logger>

	<root level="${root.level}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
