@import "../../../app.component.scss";

/* ----------------------
 * 画面見出し
 * ---------------------*/

 #task-manager-signup-title {
    margin: 50px 0 0 0;
    padding: 0;
    text-align: center;

    // タイトル文字列
    h1 {
        display: inline-block;
        font-family: Roboto;
        font-size: 30px;
        letter-spacing: normal;
        color: #000000;
    }
}


/* ----------------------
 * 入力フォームコンテナ
 * ----------------------*/
 #task-manager-signup-item-container{
    width: 576px;
    height: 420px;
    border-radius: 10px;
    background-color: #fafafa;
    margin: 0 auto;
    padding: 0;
    // 配下のinline-blockのinputを中央揃え
    text-align: center;

    // 入力フォーム
    input {
        width: 300px;
        height: 40px;
        font-size: 20px;
        letter-spacing: normal;
        color: #bdbdbd;
        display: inline-block;
        margin: 50px 0 0 0;
        // 入力フォーム内文字列を中央揃え
        text-align: center;
        background-color: #fafafa;
    }

    // 入力ボタン
    button {
        width: 300px;
        height: 40px;
        font-size: 20px;
        letter-spacing: normal;
        text-align: center;
        margin: 50px 0 0 0;
        background-color: #00b686;
    }
}

/* ----------------------
 * 入力チェックエラー
 * ----------------------*/
#task-manager-signup-error {
    text-align: center;
    color: red;
}

